@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::after, ::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* Stick footer to the bottom */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}

body {
  @apply bg-websiteMobileBg lg:bg-white text-text;
}
@layer components {
  .section-cont {
    @apply ml-6 lg:w-large 2xl:w-xLarge lg:mx-auto;
  }
  .title {
    @apply font-montserrat font-medium md:font-semibold mb-6 md:text-[24px];
  }
  .select {
    @apply font-nunito bg-searchBg border-2 rounded-lg py-[6px] pl-[10px] pr-10;
  }
  .books {
    @apply flex gap-6 overflow-x-auto bg-white mt-[10px] py-[10px] px-[15px] rounded-md
  }
  .admin-nav {
    @apply p-2
  }
  .admin-nav.active {
    @apply bg-white p-2 rounded
  }
  .admin-form {
    /* @apply bg-red-500 */
  }
  .add-book-input {
    @apply border border-gray-300 rounded indent-4 mb-2
  }
  .admin-form select {
    @apply border border-gray-300 rounded indent-4 mb-2
  }
}

        /* Footer to the bottom */
        /* ******************** */
/* html {
  min-height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}
footer {
  margin-top: auto;
}
  */